main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #efe039;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.4rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}
.name-prouduct {
  text-decoration: none;
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

/* header style */
.nav_header {
  background-color: #a3a39b;
  color: black !important;
}

.logo_text{
  color: #f4f4f4;
  font-weight: bolder;
}
.count-cart{
  color:#3c4c5d;
  background-color:#E6CAB3 ;
  border-radius: 50%;
  margin-left: 5px;
  padding: inherit
}

/* prouduct screen style  */

.btn-goback {
  background-color: #e6cab3;
}

.btn-goback:hover,
.btn-goback:active {
  background-color: #e6cab3;
}

